In [2]:
import pandas as pd
d=pd.read_csv("C:\\Users\\Dell\\OneDrive\\Desktop\\Automobile_data.csv")
df=pd.DataFrame(d)
mv=df.isnull().sum()
df_clean=df.dropna()

In [3]:
df_clean.describe()

,index,wheel-base,length,horsepower,average-mileage,price
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,40.827586,98.620690,173.646552,106.051724,25.534483,15387.000000
std,25.865467,6.810589,14.005616,48.915402,7.932203,11320.259841
min,0.000000,88.400000,141.100000,48.000000,13.000000,5151.000000
25%,17.250000,94.500000,165.300000,68.000000,19.000000,6808.500000
50%,41.000000,96.400000,171.450000,100.000000,24.500000,11095.000000
75%,60.000000,101.800000,182.775000,122.500000,31.000000,18120.500000
max,88.000000,120.900000,208.100000,262.000000,47.000000,45400.000000

In [4]:
body_style_count = df_clean['body-style'].value_counts()

In [5]:
body_style_count

sedan          30
hatchback      14
wagon           9
convertible     3
hardtop         2
Name: body-style, dtype: int64