In [1]:
import pandas as pd
d=pd.read_csv("C:\\Users\\Dell\\OneDrive\\Desktop\\Automobile_data.csv")
df=pd.DataFrame(d)
mv=df.isnull().sum()
df_clean=df.dropna()

In [8]:
avg_p= df_clean.groupby("body-style")["price"].mean()
avg_p_sort = avg_p.sort_values(ascending=False)

In [9]:
avg_p_sort

body-style
hardtop        39714.000000
convertible    22341.000000
sedan          17706.333333
wagon          12730.111111
hatchback       7159.571429
Name: price, dtype: float64